{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>H. Charles Zhao | Portfolio</title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" integrity="sha512-lmJhHTutaPnVBnfnZkZt2q0GqZjTPLERTGjPWnxBl0H6gG2tm9vsfOSbFLGTPbKBgOdLHD0+4Ryu1sXh5nA+Gw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static "portfolio/css/index.css" %}">

        <link rel="icon" href="{% static "portfolio/img/favicon.ico" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400|Roboto+Slab:300|Lato:300,700">

        <meta name="author" content="Haicheng Charles Zhao">
        <meta name="description" content="H. Charles Zhao's portfolio website.">
        <meta name="theme-color" content="#37474f">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"> 
        <meta name="google-site-verification" content="pV_Habv-PxWn2a5QDygrQv4nV1-ISJ8QurxWU9u5SY0">

        <meta property="og:url" content="https://hczhao.me">
        <meta property="og:title" content="H. Charles Zhao | Portfolio">
        <meta property="og:description" content="Haicheng Charles Zhao's portfolio website.">
        <meta property="og:image" content="https://hczhao.me{% static "portfolio/img/thumbnail.jpg" %}">

        <!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.5/TweenMax.min.js" integrity="sha512-WAMakxWpmntFcM2VNGQxEJf815d0o3U22rpOsprC387zD28DInJL/cCw55ZsfWg3yQZhRcGxgDrflCEgp1S2yQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js" integrity="sha512-IcKq5DomZY4Gw+wmbDALeSPnNPYEwcv3dXdolW2TEoUVXQoCvj22GGilLfpZroglJgldOK8DAGcwNDsrtvv0zA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.7/typed.min.js" integrity="sha512-DzOrQA5ErCekadrPyIN1RuctiIKy+/sNpiz9cUxA1H0A1vHpdEjsZ53NfpbbH8uEs7h9kBYbqqAWyPkni8tAGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js" integrity="sha512-Kef5sc7gfTacR7TZKelcrRs15ipf7+t+n7Zh6mKNJbmW+/RRdCW9nwfLn4YX0s2nO6Kv5Y2ChqgIakaC6PW09A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/3.3.6/scrollreveal.min.js" integrity="sha512-idm7lKNkaAd+NNoXg/sMU2HRAMrMB7S3nokitTl31d67IwqbVK3jnHIbol+PGrwDewkN7GgkQUg6oNcNPO42bQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script defer type="text/javascript" src="{% static "portfolio/js/index.js" %}"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-78761245-2', 'auto');
            ga('send', 'pageview');
        </script>
        <script type="text/javascript">
            (function() {
                window.__insp = window.__insp || [];
                __insp.push(['wid', 597094248]);
                var ldinsp = function(){
                    if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=597094248&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
                setTimeout(ldinsp, 0);
            })();
        </script>
    </head>

    <body>
        <header>
            <nav>
                <div class="navbar">
                    <a class="page-title left white-text">H.&nbsp;Charles&nbsp;<span class="bold">Zhao</span></a>
                    <ul class="right">
                        <li><a href="{% static "portfolio/docs/HaichengCharlesZhao_Resume.pdf" %}" rel="noopener noreferrer" target="_blank" title="Résumé"><i class="fa fa-file-text-o fa-2x"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/czhao39/" rel="noopener noreferrer" target ="_blank" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                        <li><a href="https://github.com/czhao39" target="_blank" rel="noopener noreferrer" title="Github"><i class="fa fa-github fa-2x"></i></a></li>
                        <li><a href="mailto:hczhao@alumni.princeton.edu" target="_blank" rel="noopener noreferrer" title="Email"><i class="fa fa-envelope-o fa-2x"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            <div id="intro-modal" class="modal">
                <div class="modal-content">
                    <p>
                    Welcome to my portfolio website! I created this website back in high school and am now only minimally maintaining it. Please ignore the Skills section which is out of date, but feel free to peruse the Projects section which includes some of my projects from high school and college.
                    </p>
                </div>
                <div class="modal-footer">
                    <span class="modal-close waves-effect waves-light btn-flat">Close</span>
                </div>
            </div>
            <div id="hero" class="page-section valign-wrapper scrollspy">
                <div id="particles-js"></div>
                <div class="valign center-align hero-content container">
                    <img class="portrait" src="{% static "portfolio/img/portrait.png" %}" alt="picture of me">
                    <div class="hero-text white-text">Hello, world! I'm a(n)</div>
                    <span class="typed white-text"></span>
                </div>
                <div class="down-btn center-align"><i class="material-icons arrow large grey-text text-lighten-1">expand_more</i></div>
            </div>

            <div id="intro" class="section container center">
                <p>
                Hey there! I'm a Computer Science major at Princeton University minoring in Physics and Statistics &amp; Machine Learning. I'm interested in and have experience with machine learning, econometrics, autonomous vehicles, web development, and quantum computing. I love learning about new technologies in my free time, as well as running, rock climbing, and investing in the stock market. Check out my projects below, and find more information about me by clicking the links in the navbar. Feel free to <a href="mailto:hczhao@alumni.princeton.edu" target="_blank" rel="noopener noreferrer">drop me a line</a>!
                </p>
            </div>

            <div class="divider"></div>

            <div id="skills" class="section container">
                <h2 class="center-align">Skills</h2>
                <div class="table-div">
                    {% for category in skillcategory_list %}
                    <h5>{{ category.name }}</h5>
                    <table class="striped skill-table">
                        {% for skill in category.skill_set.all %}
                        <tr>
                            <td><span class="skill-name">{{ skill.name }}</span></td>
                            <td>
                                <div class="progress">
                                    <div class="determinate" style="width:{{ skill.proficiency }}%"></div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endfor %}
                </div>
            </div>

            <div class="container center">
                <svg xmlns="http://www.w3.org/2000/svg" id="fancy-animation" viewBox="0 0 100 20"></svg>
                <div class="grey-text">A little simulation of <a href="https://youtu.be/ip0PvOSj2AI" target="_blank" rel="noopener noreferrer">this</a>.</div>
            </div>


            <div id="projects" class="section container">
                <h2 class="center-align">Projects</h2>
                <div class="row">
                    {% for project in project_list %}
                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{ project.image.url }}" alt="{{ project.im_name }}">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4"><span class="card-name activator">{{ project.name }}</span><i class="material-icons right card-open-icon">info_outline</i></span>
                                <p>{{ project.summary }}</p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4"><span class="card-name">{{ project.name }}</span><i class="material-icons right card-close-icon">close</i></span>
                                <p>{{ project.details|safe }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col s12 m6 l4 hide-on-med-and-down">
                        <div class="more-to-come card valign-wrapper blue-grey lighten-4">
                            <div class="valign center-align">
                                <p>More to come!</p>
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-laptop fa-stack-2x"></i>
                                    <i class="fa fa-code fa-stack-1x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div class="rocket">
            <i class="fa fa-rocket"></i>
        </div>

        <footer class="footer-copyright blue-grey darken-3 white-text center-align">
            Made with &nbsp;<i class="fa fa-heart red-text text-lighten-2 tooltipped animated infinite pulsing" data-position="top" data-delay="0" data-tooltip="Thanks for visiting!"></i>&nbsp; by Charles Zhao
        </footer>
    </body>
</html>
