{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Haicheng Charles Zhao - Portfolio</title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <link rel="stylesheet" href="{% static "portfolio/css/index.css" %}">

        <link rel="icon" href="{% static "portfolio/img/favicon.png" %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <meta name="author" content="Haicheng Charles Zhao">
        <meta name="description" content="Haicheng Charles Zhao's portfolio website.">
        <meta name="theme-color" content="#37474f">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

        <!-- Scripts -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    </head>

    <body>
        <header>
            <nav>
                <div class="navbar">
                    <a class="page-title left white-text">H. Charles Zhao</a>
                    <ul class="right">
                        <li><a href="{% static "portfolio/resume.pdf" %}" target="_blank" title="Resume"><i class="fa fa-file-text-o fa-2x"></i></a></li>
                        <li><a href="mailto:czhao39@gmail.com" target="_blank" title="Email"><i class="fa fa-envelope-o fa-2x"></i></a></li>
                        <li><a href="https://github.com/czhao39" target="_blank" title="Github"><i class="fa fa-github fa-2x"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            <div id="intro" class="page-section grey darken-4 valign-wrapper scrollspy">
                <div id="particles-js"></div>
                <div class="valign center-align intro-content container">
                    <img class="favicon" src="{% static "portfolio/img/favicon.png" %}" width=200 alt="picture of me">
                    <div class="intro-text white-text">Hello, world! I'm a(n)</div>
                    <span class="typed white-text"></span>
                </div>
                <div class="down-btn center-align"><i class="material-icons arrow arrow-white large grey-text text-lighten-1">expand_more</i></div>
            </div>

            <div id="skills" class="section container">
                <h2 class="center-align">Skills</h2>
                <div class="table-div">
                    <table>
                        {% for skill in skill_list %}
                        <tr>
                            <td><span class="right skill-name">{{ skill.name }}</span></td>
                            <td class="left">
                                {% for star in skill.stars_list %}
                                {% if star < skill.proficiency %}
                                <i class="material-icons">brightness_1</i>&nbsp;
                                {% else %}
                                <i class="material-icons">radio_button_unchecked</i>&nbsp;
                                {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="divider"></div>
        
            <div id="projects" class="section container">
                <h2 class="center-align">Projects</h2>
                <div class="row">
                    {% for project in project_list %}
                    <div class="col s12 m6 l5{% cycle ' offset-l1' '' %}">
                        <div class="card medium">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{% static "portfolio/img/" %}{{ project.image.url }}">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">{{ project.name }}<i class="material-icons right arrow arrow-black">expand_less</i></span>
                                <p>{{ project.summary }}</p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ project.name }}<i class="material-icons right">expand_more</i></span>
                                <p>{{ project.details }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>

        <footer class="footer-copyright blue-grey darken-3 white-text center-align">
            Made with &nbsp;<i class="fa fa-heart red-text text-lighten-2 tooltipped animated infinite pulse" data-position="top" data-delay="0" data-tooltip="Thanks for visiting!"></i>&nbsp; by Charles Zhao
        </footer>

        <!-- Scripts -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/3.2.0/scrollreveal.min.js"></script>
        <script type="text/javascript" src="https://use.fontawesome.com/6410c3e3d5.js"></script>
        <script type="text/javascript" src="{% static "portfolio/js/index.js" %}"></script>
    </body>
</html>
