{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>H. Charles Zhao | Portfolio</title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css" integrity="sha256-oiVjjd5Fuot9f/fgwH5IBBjsOA7TDdcfSK5I2EZ0zMw=" crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static "portfolio/css/index.css" %}">

        <link rel="icon" href="{% static "portfolio/img/favicon.png" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400|Roboto+Slab:300|Lato:300,700">

        <meta name="author" content="Haicheng Charles Zhao">
        <meta name="description" content="H. Charles Zhao's portfolio website.">
        <meta name="theme-color" content="#37474f">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"> 
        <meta name="google-site-verification" content="pV_Habv-PxWn2a5QDygrQv4nV1-ISJ8QurxWU9u5SY0">

        <meta property="og:url" content="https://hczhao.me">
        <meta property="og:title" content="H. Charles Zhao | Portfolio">
        <meta property="og:description" content="Haicheng Charles Zhao's portfolio website.">
        <meta property="og:image" content="https://hczhao.me{% static "portfolio/img/thumbnail.jpg" %}">

        <!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js" integrity="sha256-xaGvP1a0KUJS18dRRK6dCsGY6SKZUrfhHLsx8X8TgSM=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/plugins/ScrollToPlugin.min.js" integrity="sha256-y1/xHKVjzRpnPaFjeqqJdjzO3v8RzHrwBdOaB7MdGkQ=" crossorigin="anonymous"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js" integrity="sha256-Ff9bGnIM3a8Yj4saIp6RH8xkb1rQZpHqoFw/6m08fgA=" crossorigin="anonymous"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.7/typed.min.js" integrity="sha256-V1VQYyDCfJqlhl3BJnGu8hpodtkri7VafAzkkvd2K8c=" crossorigin="anonymous"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js" integrity="sha256-+u54FaX9J+k40eAcg5K2YzICSQjrEYBI9gju5nE3HfY=" crossorigin="anonymous"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/3.3.6/scrollreveal.min.js" integrity="sha256-SDKDHU0lE3Q1tYhe8x3nqrEl15dwjAM3sEIP0G50RBc=" crossorigin="anonymous"></script>
        <script defer type="text/javascript" src="{% static "portfolio/js/index.js" %}"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-78761245-2', 'auto');
            ga('send', 'pageview');
        </script>
    </head>

    <body>
        <header>
            <nav>
                <div class="navbar">
                    <a class="page-title left white-text">H. Charles <span class="bold">Zhao</span></a>
                    <ul class="right">
                        <li><a href="{% static "portfolio/docs/website_resume.pdf" %}" rel="noopener noreferrer" target="_blank" title="Résumé"><i class="fa fa-file-text-o fa-2x"></i></a></li>
                        <li><a href="mailto:hczhao@princeton.edu" target="_blank" rel="noopener noreferrer" title="Email"><i class="fa fa-envelope-o fa-2x"></i></a></li>
                        <li><a href="https://github.com/czhao39" target="_blank" rel="noopener noreferrer" title="Github"><i class="fa fa-github fa-2x"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            <div id="intro" class="page-section valign-wrapper scrollspy">
                <div id="particles-js"></div>
                <div class="valign center-align intro-content container">
                    <img class="favicon" src="{% static "portfolio/img/favicon.png" %}" width=160 alt="picture of me">
                    <div class="intro-text white-text">Hello, world! I'm a(n)</div>
                    <span class="typed white-text"></span>
                </div>
                <div class="down-btn center-align"><i class="material-icons arrow large grey-text text-lighten-1">expand_more</i></div>
            </div>

            <div id="skills" class="section container">
                <h2 class="center-align">Skills</h2>
                <div class="table-div">
                    {% for category in skillcategory_list %}
                    <h5>{{ category.name }}</h5>
                    <table class="striped skill-table">
                        {% for skill in category.skill_set.all %}
                        <tr>
                            <td><span class="skill-name">{{ skill.name }}</span></td>
                            <td>
                                <div class="progress">
                                    <div class="determinate" style="width:{{ skill.proficiency }}%"></div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endfor %}
                </div>
            </div>

            <div class="container center">
                <svg xmlns="http://www.w3.org/2000/svg" id="fancy-animation" viewBox="0 0 100 20"></svg>
                <div class="grey-text">Just a random attempt at simulating <a href="https://youtu.be/ip0PvOSj2AI" target="_blank" rel="noopener noreferrer">this</a> 'cause it looks kinda cool.</div>
            </div>


            <div id="projects" class="section container">
                <h2 class="center-align">Projects</h2>
                <div class="row">
                    {% for project in project_list %}
                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{% static "portfolio/img/project_images/" %}{{ project.im_name }}" alt="{{ project.im_name }}">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4"><span class="card-name activator">{{ project.name }}</span><i class="material-icons right card-open-icon">info_outline</i></span>
                                <p>{{ project.summary }}</p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4"><span class="card-name">{{ project.name }}</span><i class="material-icons right card-close-icon">close</i></span>
                                <p>{{ project.details|safe }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% if not project_list|length|divisibleby:2 %}
                    <div class="col s12 m6 l4">
                        <div class="more-to-come card valign-wrapper blue-grey lighten-4">
                            <div class="valign center-align">
                                <p>More to come!</p>
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-laptop fa-stack-2x"></i>
                                    <i class="fa fa-code fa-stack-1x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </main>

        <footer class="footer-copyright blue-grey darken-3 white-text center-align">
            Made with &nbsp;<i class="fa fa-heart red-text text-lighten-2 tooltipped animated infinite pulsing" data-position="top" data-delay="0" data-tooltip="Thanks for visiting!"></i>&nbsp; by Charles Zhao
        </footer>
    </body>
</html>
