body {
    font-weight: 300;
}

.page-title {
    font-size: 2.2rem;
    font-weight: 300;
    padding-top: 6px;
}

.bold {
    font-weight: 700;
}

.navbar {
    position: absolute;
    top: -20px;
    opacity: 0;
    width: 100%;
    padding: 50px 5% 0 5%;
    line-height: 40px;
    z-index: 10;
}

.navbar a {
    font-family: "Lato", "Roboto", sans-serif;
    color: #bdbdbd;
    padding-top: 3px;
    -webkit-transition: color .4s;
    transition: color .4s;
}

.navbar a:hover {
    color: white;
}

.navbar i {
    font-size: 1.7rem;
    display: initial;
    line-height: inherit;
}

.navbar.pinned {
    padding-top: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.page-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    min-height: 40rem;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    background: linear-gradient(#000000, #37474f);
}

.intro-content {
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
    opacity: 0;
}

.intro-text {
    margin-top: 5%;
    font-size: 3rem;
    font-weight: 200;
    line-height: 1;
}

#intro .typed {
    font-family: "Roboto Mono", monospace;
    font-size: 3.3rem;
    line-height: 3;
}

#intro .typed-cursor{
    font-size: 4.5rem;
    opacity: 1;
    color: white;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 1s infinite;
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#intro .favicon {
    max-width: 40%;
    max-height: 40%;
}

.down-btn {
    width: 100%;
    position: absolute;
    bottom: -20px;
    opacity: 0;
}

.arrow {
    cursor: pointer;
    -webkit-transition: text-shadow .4s, color .4s;
    transition: text-shadow .4s, color .4s;
}

.arrow:hover {
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.18);
    color: white !important;
}

.card {
    visibility: hidden;
}

h2.center-align {
    padding-bottom: 3px;
}

h2.center-align:after {
    content: '';
    display: block;
    margin: 5px auto;
    height: 3px;
    width: 0;
    background-color: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.underline:after {
    width: 20rem !important;
    max-width: 80%;
    background-color: black !important;
}

.table-div {
    overflow-x: auto;
    margin: auto auto 20px auto;
    width: 90%;
}

#skills {
    margin-top: 100vh;
}

.table-div td {
    font-size: 1.1rem;
    padding: .3rem 2rem;
    white-space: nowrap;
}

.table-div tr td:first-child {
    width: 10rem;
}

.table-div tr td:nth-child(2) {
    min-width: 10rem;
}

div.progress {
    margin: 0;
    background-color: #607d8b;
}

.progress .determinate {
    visibility: hidden;
    background-color: #ffc107;
    transition-property: none;
}

.divider {
    width: 80%;
    margin: 30px auto 10px auto;
}

.card {
    margin: 10px 0;
    height: 350px;
}

.card .card-content .card-title, .card .card-reveal .card-title {
    font-size: 1.6rem;
    line-height: 1.2;
}

.card .card-reveal p {
    font-family: "Roboto Slab", serif;
}

.card-title .card-name {
    display: inline-block;
    width: calc(100% - 30px);
}

.card-reveal .card-title .card-name {
    cursor: default;
}

.card:not(.more-to-come) i {
    font-size: 1.8rem;
    position: absolute;
    right: 20px;
    color: #555555;
    -webkit-transition: color .4s, text-shadow .4s;
    transition: color .4s, text-shadow .4s;
}

.card:not(.more-to-come) i:hover {
    color: black;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.card .card-content p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.more-to-come div {
    margin: auto;
    font-size: 2rem;
}

.more-to-come .fa-code {
    margin-top: -6px;
    margin-left: 3px;
    font-size: 30px;
}

footer {
    padding: 5px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.pulsing {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        }
    50% {
        -webkit-transform: scale3d(1.3, 1.3, 1.3);
        transform: scale3d(1.3, 1.3, 1.3);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.3, 1.3, 1.3);
        transform: scale3d(1.3, 1.3, 1.3);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/*@media (max-width: 992px) {
    .intro-content {top: 140px;}
}*/

@media (max-width: 640px) and (min-width: 376px) {
    .navbar {line-height: 40px;}
    .navbar i {font-size: 1.5rem;}
    .page-title {font-size: 1.8rem;}
    .intro-text {font-size: 2.5rem;}
    #intro .typed {font-size: 2.5rem;}
    #intro .typed-cursor {font-size: 3rem;}
    .table-div td {padding: .3rem 1rem;}
}

@media (max-width: 600px) and (min-width: 376px) {
    .card {margin: 20px 10%;}
}

@media (max-width: 375px) {
    .navbar {line-height: 40px;}
    .navbar i {font-size: 1.5rem;}
    .page-title {font-size: 1.3rem;}
    .navbar a {padding: 0 12px;}
    .intro-text {font-size: 1.9rem;}
    #intro .typed {font-size: 1.9rem;}
    #intro .typed-cursor {font-size: 2.5rem;}
    .table-div td {padding: .3rem 1rem;}
    .card {margin: 20px 5%;}
    .card .card-content .card-title, .card .card-reveal .card-title {font-size: 1.8rem;}
    .card:not(.more-to-come) i {font-size: 2.2rem;}
    .card .card-content p {font-size: 1.4rem;}
    .card .card-reveal p {font-size: 1.2rem;}
}
